@media screen and (max-width:400px) {
    .nav-container{
    
        flex-direction: column;
        
    }
    .nav-items-container {
        flex-direction: column;
    }
    .nav-items-container{
        width: 100%;
    }
    .logo-container{
        width: 100%;
    }
    .nav-items-container a{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .banner-container{
        flex-direction: column;
    }

    .banner-text{
        width: 100%;
        text-align: center;
    }
    .banner-img{
   
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    .paragraph{
        text-align: center;
    }

    .video-container h2,.video-container p {
        text-align: center;
      }
    .image-gallery {
        margin-right: 0; 
        flex-direction: column;
        justify-content: center;
      }
      .play-games{
        flex-direction: column;
      }
      .play-games-text {
        width: 100%; /* Full width for text on smaller screens */
    }

    .play-games-img {
        width: 100%; /* Full width for image on smaller screens */
        margin-top: 20px; /* Add margin to separate the image from the text */
    }
    .over-img{
        width: 50px;
    }
}